<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About me</title>
</head>
<body>
	<h1>Name: </h1>
	<%= @person.name %>
	<br/>
	<h1>Introduction: </h1>
	<%= @person.introduction %>
	<br/>
	<h1>More about me: </h1>
	<%= @person.fun_fact%>
	<br />
	<%= @person.excited%>

</body>
</html>